<!DOCTYPE html>
{% load static %}
<html>
<head>
  <title>{% block title %}My Site{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
</head>
<body>
  <header class="top-bar">
    <div class="logo">
      <div class="logo-icon"><img src="{% static 'images/logo.png' %}" alt="KidsView logo" class="kidsview-logo"></div>
        <span>
            <span style="color: #f9a8d4">K</span>
            <span style="color: #facc15">i</span>
            <span style="color: #4ade80">d</span>
            <span style="color: #93c5fd">s</span>
            <span style="color: #c084fc">View</span>
        </span>
    </div>

    <button class="parents-btn">
      <i class='bx bx-cog'></i> Parents
    </button>
  </header>

   <section class="categories">
        <button class="category purple">
            <img src="{% static 'images/all.jpg' %}" alt="All logo" class="category_images">
            <span>All</span>
        </button>
        <button class="category blue">
            <img src="{% static 'images/cartoons.jpg' %}" alt="Cartoons logo" class="category_images">
            <span>Cartoons</span>
        </button>
        <button class="category green">
            <img src="{% static 'images/animals.webp' %}" alt="Animals logo" class="category_images">
            <span>Animals</span>
        </button>
        <button class="category yellow">
            <img src="{% static 'images/learn.avif' %}" alt="Learn logo" class="category_images">
            <span style="color: white">Learn</span>
        </button>
        <button class="category pink">
            <img src="{% static 'images/music.jpg' %}" alt="Music logo" class="category_images">
            <span>Music</span>
        </button>
    </section>

  {% block content %}{% endblock %}

</body>
</html>
