
{% load static %}
{% block content %}
    <div class="channel-row">
        <a href="https://www.youtube.com/@disneyjr" target="_blank">
          <img src="{% static 'images/disney-jr.jpg' %}" alt="Disney Jr">
        </a>
        <a href="https://www.youtube.com/@PeppaPigOfficial" target="_blank">
          <img src="{% static 'images/peppa-pig.jpg' %}" alt="Peppa Pig">
        </a>
        <a href="https://www.youtube.com/@PAWPatrolOfficial" target="_blank">
          <img src="{% static 'images/paw-patrol.jpg' %}" alt="Paw Patrol">
        </a>
        <a href="https://www.youtube.com/@nickjr" target="_blank">
          <img src="{% static 'images/nick-jr.jpg' %}" alt="Nick Jr">
        </a>
        <a href="https://www.youtube.com/@MashaBearEN" target="_blank">
          <img src="{% static 'images/masha.jpg' %}" alt="Masha and the Bear">
        </a>
        <a href="https://www.youtube.com/@BlueyOfficialChannel" target="_blank">
          <img src="{% static 'images/bluey.jpg' %}" alt="Bluey">
        </a>
    </div>



{% endblock %}