
{% load static %}

{% block content %}
    <div class="channel-row">
        <a href="https://www.youtube.com/@msrachel" target="_blank">
          <img src="{% static 'images/msrachel.jpg' %}" alt="Ms Rachel">
        </a>
        <a href="https://www.youtube.com/@RVAppStudios" target="_blank">
          <img src="{% static 'images/lucasandfriends.jpg' %}" alt="Lucas and Friends">
        </a>
        <a href="https://www.youtube.com/channel/UCQ2FzqIvWSE7ysvL1sLWQ5Q" target="_blank">
          <img src="{% static 'images/graciescorner.jpg' %}" alt="Gracies'Corner">
        </a>
        <a href="https://www.youtube.com/@Blippi" target="_blank">
          <img src="{% static 'images/blippi.jpg' %}" alt="Blippi">
        </a>
        <a href="https://www.youtube.com/channel/UCZ8KDGk3POvKTHDnz3FonvQ" target="_blank">
          <img src="{% static 'images/thesoftroots.jpg' %}" alt="The Soft Roots">
        </a>
    </div>


{% endblock %}