
{% load static %}

{% block content %}
    <div class="channel-row">
        <a href="https://www.youtube.com/channel/UCbCmjCuTUZos6Inko4u57UQ" target="_blank">
          <img src="{% static 'images/cocomelon.jpg' %}" alt="Cocomelon">
        </a>
        <a href="https://www.youtube.com/@SuperSimpleSongs" target="_blank">
          <img src="{% static 'images/supersimple.jpg' %}" alt="Super Simple Songs">
        </a>
        <a href="https://www.youtube.com/@DisneyMusicVEVO" target="_blank">
          <img src="{% static 'images/dineymusic.jpg' %}" alt="Disney Music">
        </a>
        <a href="https://www.youtube.com/@Pinkfong" target="_blank">
          <img src="{% static 'images/pinkfong.jpg' %}" alt="Pinkfong">
        </a>
        <a href="https://www.youtube.com/@lalafun-kids-nursery-rhymes" target="_blank">
          <img src="{% static 'images/lalafun.jpg' %}" alt="Lalafun">
        </a>
    </div>


{% endblock %}