{}
* {
    box-sizing: border-box;
    font-family: 'helvetica',sans-serif;
}

body {

    background:  #FFF7E6;
    max-width: 95%;
    margin: auto;
}

.kidsview-logo {

    width: 120px;
    height: auto;
    object-fit: cover;
    border-radius: 50%;

}

.top-bar {
    background: #f1e0c5;
    padding: 40px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0 0 20px 20px;
}

.logo {
    padding-left: 35px;
    display: flex;
    align-items: center;
    gap: 50px;
    font-size: 50px;
    font-weight: 700;

}

.logo-icon {
    background: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.parents-btn {
    background: #6FC1C0;
    border: none;
    color: white;
    padding: 15px 30px;
    border-radius: 20px;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 6px;
}

.categories {
    display: flex;
    gap: 14px;
    padding: 20px;
}

.category {
    width: 110px;
    height: 130px;
    border-radius: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    box-shadow: 0 6px 12px rgba(0,0,0,0.1);
    border: none;

}

.category i {
    font-size: 32px;
    margin-bottom: 10px;
}

.category_images{
    width: 80px;
    height: auto;
    object-fit: cover;
    border-radius: 50%;
}


.purple { background: #c084fc; }
.blue   { background: #93c5fd; }
.green  { background: #4ade80; }
.yellow { background: #facc15; color: #333; }
.pink   { background: #f9a8d4; }

.channel-row {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.channel-row img {
  width: 140px;
  height: auto;
  border-radius: 10%;
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}

.channel-row img:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 12px rgba(0,0,0,0.2);
}